<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <property name="logger.root" value="/data/logs"/>
    <property name="app.name" value="dinner"/>
    <property name="MY_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%thread] %C{100}.java:%L - %msg%n"/>
    <contextName>${app.name}</contextName>

    <!--保留时间-->
    <property name="log.max.file" value="5"/>
    <property name="log.max.size" value="50MB"/>

    <!--测试，开发环境需要打印日志 jvm环境变量-Dlogback.env=dev -->
    <if condition='property("logback.env").contains("dev")'>
        <then>
            <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
                <encoder>
                    <pattern>${MY_PATTERN}</pattern>
                </encoder>
            </appender>
        </then>
    </if>

    <appender name="info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logger.root}/${app.name}-info.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${logger.root}/${app.name}-info.log-%i.zip</fileNamePattern>
            <maxIndex>${log.max.file}</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>${log.max.size}</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>${MY_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logger.root}/${app.name}-error.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>warn</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logger.root}/${app.name}-error.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${MY_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>


    <!--测试，开发环境需要打印日志 jvm环境变量-Dlogback.env=dev -->
    <if condition='property("logback.env").contains("dev")'>
        <then>
            <root level="debug">
                <appender-ref ref="STDOUT"/>
            </root>
        </then>
        <else>
            <root level="info">
                <appender-ref ref="info"/>
                <appender-ref ref="error"/>
            </root>
        </else>
    </if>


</configuration>